@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .my-container {
    @apply max-w-screen-2xl mx-auto w-11/12;
  }
  .bg-gradient-green {
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
			linear-gradient(0deg, rgba(255, 255, 0, 0.1), rgba(255, 255, 0, 0.1)),
			linear-gradient(290.23deg, #83de74 0%, #abde81 100%, #abde81 100%);
	}
	body {
		font-family: "Inter", sans-serif;
	}
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@layer utilities {
  .headerWrapper {
    background: rgba(214, 214, 214, 0.9);
    mix-blend-mode: normal;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.25);
  }
  svg {
    display: inline-flexbox;
    margin: auto;
  }
  .header {
    max-width: 1700px;
    margin: 0 auto;
  }
  .main-background {
    background-image: linear-gradient(
      to left,
      #54c941 50%,
      rgb(171, 222, 129, 1) 100%
    );
  }
  .heading-leading {
    line-height: 125%;
  }
  .faq {
    grid-template-columns: 1fr 40px;
  }
}

.modal:not(.active) {
	opacity: 0;
	visibility: hidden;
}
.modal:not(.active) .modal-content {
	transform: translateY(-30px);
}
.flex-grow {
	flex-grow: 1;
}
label {
	cursor: pointer;
}
input:checked ~ .check-icon {
	background: #006400;
}
