@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .my-container {
    @apply max-w-screen-2xl mx-auto w-11/12;
  }
}
@layer utilities {
  .headerWrapper {
    background: rgba(214, 214, 214, 0.9);
    mix-blend-mode: normal;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.25);
  }
  svg {
    display: inline-flexbox;
    margin: auto;
  }
  .header {
    max-width: 1700px;
    margin: 0 auto;
  }
  .main-background {
    background-image: linear-gradient(
      to left,
      #54c941 50%,
      rgb(171, 222, 129, 1) 100%
    );
  }
  .heading-leading {
    line-height: 125%;
  }
  .faq {
    grid-template-columns: 1fr 40px;
  }
}
